ETFTrans/Service References/ServiceReference1/servis.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://192.168.0.105/WcfService/servis.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfService" />
  <xs:element name="pretrazi">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="polaziste" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="odrediste" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="pretraziResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WcfService" minOccurs="0" name="pretraziResult" nillable="true" type="q1:ArrayOftipPretraga" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>