ETFTrans/Service References/ServiceReference1/servis2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WcfService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://192.168.0.105/WcfService/servis.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="ArrayOftipPretraga">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="tipPretraga" nillable="true" type="tns:tipPretraga" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOftipPretraga" nillable="true" type="tns:ArrayOftipPretraga" />
  <xs:complexType name="tipPretraga">
    <xs:sequence>
      <xs:element minOccurs="0" name="Cijena" type="xs:decimal" />
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ListaDanaVoznje1" nillable="true" type="q1:ArrayOfstring" />
      <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ListaStanica1" nillable="true" type="q2:ArrayOfstring" />
      <xs:element minOccurs="0" name="Odrediste" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Polaziste" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VrijemeDolaska" type="xs:dateTime" />
      <xs:element minOccurs="0" name="VrijemePolaska" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="tipPretraga" nillable="true" type="tns:tipPretraga" />
</xs:schema>